@model IEnumerable<ApplicationCore.Models.MovieCardResponseModel>


<h1>Test View</h1>

@foreach (var item in Model)
{
    <div>
        @item.GenreId     @item.GenreName
    </div>
}

@{
    var res = ViewBag.Method.GetAllMoviesByGenre(1);

}
@foreach (var item in res)
    {
<div>
    @item.MovieId   @item.MoviePosterUrl
</div>
    }
