@model ApplicationCore.Models.TableViewModel



<h1>Test View</h1>

@foreach (var item in Model.Movies)
{
<div>
    @item.Title     @item.Revenue
</div>
}
@foreach (var item in Model.Genres)
{
<div>
    @item.GenreId    @item.GenreName
</div>
}