<div class="rounded" *ngFor="let item of movie.movies">
    <div class="container-fluid ">
        <div class="row"
            style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('{{item.backdropUrl}}');">
            <div class="col-sm-3 pr-lg-0">
                <img src="{{item.posterUrl}}" alt="item.Id" style="width:280px;height:430px;"
                    class="float-right img-fluid" />
            </div>
            <div class="col-sm-1 "></div>
            <div class="col-sm-5 text-white">
                <h3><strong>{{item.title}}</strong></h3>
                <span class="text-muted" style="font-size:smaller;">{{item.tagline}}</span><br /><br />
                <div class="row">
                    <div class="col-sm-4">
                        <h6 class="text-muted"><strong>{{item.runTime}} m | {{item.year}}</strong></h6>
                    </div>
                    <div class="col-sm ">
                        <span *ngFor="let genre of movie.genres"
                            class="badge badge-dark badge-pill mx-1">{{genre.genreName}}</span>
                    </div>
                </div>
                <div class="mb-lg-2">
                    <h4><span class="badge bg-success">{{movie.rating | number: '1.1-2'}}</span></h4>
                </div>
                <p class="text-justify">
                    {{item.overview}}
                </p>
            </div>
            <div class="col-sm ">
                <div class="row justify-content-end m-lg-3">
                    <button type="button" class="btn btn-dark btn-lg " style="width:220px;">
                        <i class="bi bi-pencil-square"></i>
                        REVIEW
                    </button>
                </div>
                <ng-container *ngIf="!isLogin">
                    <div class="row justify-content-end m-lg-3">
                        <a class="btn btn-light btn-lg " [routerLink]="['/account/login']" style="width:220px;">
                            BUY {{item.price}}
                        </a>
                    </div>
                </ng-container>
                <div class="row justify-content-end m-lg-3" *ngIf="isLogin">
                    <a type="button " class="btn btn-light btn-lg " *ngIf="!isPurchased"
                        (click)="purchaseMovie(item.price)" style="width:220px;">
                        BUY {{item.price | number:'1.1-2'}}
                    </a>
                    <a type="button submit" class="btn btn-light btn-lg " *ngIf="isPurchased" style="width:220px;" href='{{item.imdbUrl}}'>
                        WATCH
                    </a>
                </div>
                <div class="row justify-content-end m-lg-3" *ngIf="isLogin">
                    <a class="btn btn-light btn-lg px-0 " *ngIf="isFavorited" style="width:220px;" (click)="removeFavorite()">
                        <i class="bi bi-star-fill"></i> RemoveFavorite
                    </a>
                    <a class="btn btn-light btn-lg px-0" style="width:220px;" *ngIf="!isFavorited" (click)="addFavorite()">
                        <i class="bi bi-star"></i> AddFavorite
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-3 bg-light">
                <div>
                    <h4 class="mt-2"><strong>MOVIE FACT</strong></h4>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item bg-light">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            Release Date <span class="badge badge-dark badge-pill">{{item.date}}</span>
                        </li>
                        <li class="list-group-item bg-light">
                            <i class="bi bi-hourglass-split"></i>
                            Run Time <span class="badge badge-dark badge-pill">{{item.runTime}} m</span>
                        </li>
                        <li class="list-group-item bg-light">
                            <i class="bi bi-cash-coin"></i>
                            Box Office <span class="badge badge-dark badge-pill">{{item.revenue }}</span>
                        </li>
                        <li class="list-group-item bg-light">
                            <i class="bi bi-currency-dollar"></i>
                            Budget <span class="badge badge-dark badge-pill">{{item.budget}}</span>
                        </li>
                        <li class="list-group-item bg-light">
                            <i class="fa fa-imdb"></i>
                            <a href={{item.imdbUrl}} style="text-decoration:none;color:black;"> &nbsp;<i
                                    class="fa fa-share-square-o"></i></a>
                        </li>
                    </ul>
                </div>
                <br />
                <div>
                    <h4 class="mt-1"><strong>TRAILERS</strong></h4>
                    <ul class="list-group list-group-flush ">
                        <li *ngFor="let trailer of movie.trailers" class="list-group-item bg-light ">
                            <i class="bi bi-play-btn-fill"></i>&nbsp;
                            <a href="{{trailer.trailerUrl}}"
                                style="text-decoration:none;color:black;">{{trailer.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <h4 class="mt-2"><strong>CAST</strong></h4>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let cast of movie.casts" class="list-group-item">
                        <div class="row">
                            <div class="col-sm-2">
                                <a href="{{cast.tmdbUrl}}">
                                    <img src="{{cast.profilePath}}" alt="Profile Link" class="rounded-circle"
                                        style="width:40px;height:60px;">
                                </a>
                            </div>
                            <div class="col-sm">{{cast.name}}</div>
                            <div class="col-sm">{{cast.character}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>