@model List<ApplicationCore.Models.MovieCardResponseModel>;
    
<h1>
    Top Movies
</h1>
@{
ViewData["Title"] = "Home Page";
}


@foreach (var movie in Model)
{
<div>
    @movie.Id
</div>
<div>
    @movie.Title
</div>
<div>
    @movie.PosterUrl
</div>
}